img {
  max-width: 100%;
}
h1.page-title {
  margin-bottom: 1em;
}

h2, h3 {
  margin: 2em 0 .7em 0;
}

.footnotes {
  border-top: 1px solid #ccc;
  padding-top: 2em;
  font-size: .9em;
}

.footnotes ol {
  padding-left: 1em
}

.footnotes p {
  margin-bottom: .6rem;
}

#contact {
  position: absolute;
  bottom : 1em
}

.social-media-list {
  list-style: none;
  padding: 0;
}

.social-media-list li{
  display: inline;
  margin-right: .3em;
}

.social-media-list a:hover {
  text-decoration: none;
}

.svg-icon {
    width: 20px;
    height: 20px;
    /* display: inline-block; */
    fill: white;
    /* padding-right: 5px; */
    vertical-align: middle;
}

.social-media-list .email-icon {
  width: 24px;
}

.share-page {
  margin-bottom: 2em;
  color: #bf616a;
}

.share-page ul {
  list-style: none;
  padding: 0;
}

.share-page ul li{
  margin-right: 1em;
  display: inline;
}

.share-page ul {
  text-align: center;
  line-height: 2em
}

@media only screen and (max-width: 768px) {
}

.share-page .svg-icon {
  fill : #bf616a;
  transform: scale(1.5);
}

.share-page a:hover {
  text-decoration: none;
}

.share-page a:hover .svg-icon {
  fill : #973D46;
}
