<div class="contact">  
  <p>
    Une question? <br />
    Une idée d'articles? <br />
    Une référence à soumettre? <br />
    <br />
    N'hésitez pas à me contacter sur Twitter <a href="https://twitter.com/{{site.author.twitter}}" target="_blank">@{{site.author.twitter}}</a>, par <a href="mailto:{{site.author.email}}">email</a>, sur <a href="{{site.github}}issues" target="_blank">Github</a> ou via <a href="#wechat-code">Wechat &darr;</a>
  </p>
  <img id="wechat-code" class="qr" src="/public/img/wechat-qr.jpg" title="Wechat Link"/>
</div>
